.header {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: rgb(12, 12, 12);
  position: sticky;
  top: 0;
  z-index: 100;
}
.dropdown {
  position: relative;
}

.dropdowncontainer {
  display: none;
  position: absolute;
  margin-top: 5px;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.dropdowncontainer p {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown:hover .dropdowncontainer {
  display: block;
}
.headerlogo {
  /* width: 120px;
  object-fit: contain; */
  font-size: x-large;
  color: azure;
  margin: 5px;
}
.headersearch {
  display: flex;
  flex: 1;
  align-items: center;
  border-radius: 24px;
}
.headersearchinput {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.headersearchicon {
  padding: 5px;
  height: 22px !important;
  background-color: coral;
}
.headersearchicon:hover {
  cursor: pointer;
}
.headernav {
  display: flex;
  justify-content: space-evenly;
}
.headeroption {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
  margin-right: 15px;
  color: white;
}
.headeroptionlineone {
  font-size: 13px;
}
.headeroptionlinetwo {
  font-size: 17px;
  font-weight: 600;
}
.headeroptionbasket {
  display: flex;
  align-items: center;
  color: white;
}
.headerbasketcount {
  margin-left: 10px;
  margin-right: 10px;
}
@media screen and (max-width: 400px) {
  .headerlogo {
    width: 30px;
    font-size: small;
    margin-right: 10px;
  }
  .header {
    height: 50px;
  }
  .headeroption {
    margin-left: 5px;
    margin-right: 5px;
  }
  .headeroptionlineone {
    font-size: 10px;
  }
  .headeroptionlinetwo {
    font-size: 15px;
  }
  .headerbasketcount {
    margin-left: 5px;
    margin-right: 5px;
  }
}
